<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <title>Payment Detail</title>
    <link rel="stylesheet" href="/static/admin_homepage/css/style.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/admin_homepage/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        .form-control {
            line-height: 1.5;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var image1 = document.getElementById('backCccd');
            var image2 = document.getElementById('frontCccd');
            image1.addEventListener('click', function() {
                this.classList.toggle('zoomed');
            });
            image2.addEventListener('click', function() {
                this.classList.toggle('zoomed');
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            flatpickr('.flatpickr-input', {
                dateFormat: "d/m/Y",
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const A = document.getElementById('menu-payment');
            const B = document.getElementById('menu-all-payments');

            A.addEventListener('click', function () {
                if (A.classList.contains('active')) {
                    A.classList.remove('active');
                    B.classList.add('active');
                } else {
                    A.classList.add('active');
                    B.classList.remove('active');
                }
            });
        });
    </script>
</head>

<body>
<div class="layer"></div>
<!-- ! Body -->
<div class="page-flex">
    <!-- ! Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-start">
            <div class="sidebar-head">
                <a th:href="@{/fpt-dorm/admin/home}" class="logo-wrapper" title="Home">
                    <span class="sr-only">Home</span>
                    <span class="icon logo" aria-hidden="true"></span>
                    <div class="logo-text">
                        <span class="logo-title">FPT Dorm</span>
                        <span class="logo-subtitle">ADMIN</span>
                    </div>

                </a>
                <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon menu-toggle" aria-hidden="true"></span>
                </button>
            </div>
            <div class="sidebar-body">
                <ul class="sidebar-body-menu">
                    <li>
                        <a th:href="@{/fpt-dorm/admin/home}"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                    </li>
                    <li>
                        <a id="menu-student" class="show-cat-btn">
                            <span class="icon folder" aria-hidden="true"></span>Student
                            <span class="category__btn transparent-btn" title="Open list">
                                <span class="sr-only">Open list</span>
                                <span class="icon arrow-down" aria-hidden="true"></span>
                            </span>
                        </a>
                        <ul class="cat-sub-menu">
                            <li>
                                <a id="menu-all-students" class="" th:href="@{/fpt-dorm/admin/student/all-student}">All
                                    Students</a>
                            </li>
                            <li>
                                <a id="menu-add-student" class="" th:href="@{/fpt-dorm/admin/student/add}">Add new
                                    student</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="show-cat-btn">
                            <span class="icon folder" aria-hidden="true"></span>Room
                            <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                        </a>
                        <ul class="cat-sub-menu">
                            <li>
                                <a th:href="@{admin_list_room}">All Rooms</a>
                            </li>
                            <li>
                                <a th:href="@{admin_add_new_room}">Add new room</a>
                            </li>
                            <li>
                                <a th:href="@{admin_add_new_type_room}">Add new room type</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="show-cat-btn">
                            <span class="icon folder" aria-hidden="true"></span>News
                            <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                        </a>
                        <ul class="cat-sub-menu">
                            <li>
                                <a th:href="@{/fpt-dorm/admin/view-news}">View News</a>
                            </li>
                            <li>
                                <a th:href="@{/fpt-dorm/admin/add-news}">Add news</a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a id="menu-payment" class="show-cat-btn active" href="#">
                            <span class="icon folder" aria-hidden="true"></span>Payment
                            <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                        </a>
                        <ul class="cat-sub-menu">
                            <li>
                                <a id="menu-all-payments" class="" th:href="@{/fpt-dorm/admin/admin_payment_list}">All
                                    Payments</a>
                            </li>
                            <li>
                                <a id="menu-payment-request" class=""
                                   th:href="@{/fpt-dorm/admin/admin_payment_request}">Payment Request</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a th:href="@{admin/admin_chart}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Chart
                        </a>
                    </li>

                    <li>
                        <a th:href="@{admin/admin_booking_list}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Booking requirement
                        </a>
                    </li>

                    <li>
                        <a th:href="@{admin/admin_service_list}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Service requirement
                        </a>
                    </li>

                    <li>
                        <a th:href="@{admin/admin_list_feedback}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Feedback
                        </a>
                    </li>

                    <li>
                        <a th:href="@{admin/admin_list_complaint}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Complaint
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/fpt-dorm/admin/admin_Resident_History/list}">
                            <span class="icon folder" aria-hidden="true"></span>
                            Resident History
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-footer">
            <a href="#" class="sidebar-user">
                <span class="sidebar-user-img">
                    <picture>
                        <source srcset="/static/admin_homepage/img/avatar/avatar-illustrated-01.webp" type="image/webp">
                        <img src="/static/admin_homepage/img/avatar/avatar-illustrated-01.png" alt="User name">
                    </picture>
                </span>
                <div class="sidebar-user-info">
                    <span class="sidebar-user__title">AI</span>
                    <span class="sidebar-user__subtitle">Support manager</span>
                </div>
            </a>
        </div>
    </aside>
    <div class="main-wrapper">
        <!-- ! Main nav -->
        <nav class="main-nav--bg">
            <div class="container main-nav">
                <div class="main-nav-start">
                </div>
                <div class="main-nav-end">
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
                    </button>
                    <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
                        <span class="sr-only">Switch theme</span>
                        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                    </button>
                    <div class="notification-wrapper">
                        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
                            <span class="sr-only">To messages</span>
                            <span class="icon notification active" aria-hidden="true"></span>
                        </button>
                        <ul class="users-item-dropdown notification-dropdown dropdown">
                            <li>
                                <a href="#">
                                    <div class="notification-dropdown-icon info">
                                        <i data-feather="check"></i>
                                    </div>
                                    <div class="notification-dropdown-text">
                                        <span class="notification-dropdown__title">System just updated</span>
                                        <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more here.</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="notification-dropdown-icon danger">
                                        <i data-feather="info" aria-hidden="true"></i>
                                    </div>
                                    <div class="notification-dropdown-text">
                                        <span class="notification-dropdown__title">The cache is full!</span>
                                        <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and interfere ...</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="notification-dropdown-icon info">
                                        <i data-feather="check" aria-hidden="true"></i>
                                    </div>
                                    <div class="notification-dropdown-text">
                                        <span class="notification-dropdown__title">New Subscriber here!</span>
                                        <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="link-to-page" href="#">Go to Notifications page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-user-wrapper">
                        <button href="#" class="nav-user-btn dropdown-btn" title="My profile" type="button">
                            <span class="sr-only">My profile</span>
                            <span class="nav-user-img">
            <picture><source srcset="/static/admin_homepage/img/avatar/avatar-illustrated-02.webp"
                             type="image/webp"><img src="/static/admin_homepage/img/avatar/avatar-illustrated-02.png"
                                                    alt="User name"></picture>
          </span>
                        </button>
                        <ul class="users-item-dropdown nav-user-dropdown dropdown">
                            <li><a th:href="@{/fpt-dorm/admin/profile(email=${email})}">Profile</a></li>
                            <li><a th:href="@{/fpt-dorm/user/news}">Home User</a></li>
                            <!--                            <li><a th:href="@{/fpt-dorm/employee/home}">Home Employee</a></li>-->
                            <li><a class="danger" th:href="@{/fpt-dorm/logout}">
                                <i data-feather="log-out" aria-hidden="true"></i>
                                <span>Log out</span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 mx-auto border p-4 m-4 white-block">
                        <h1 class="main-title text-center">Payment Detail</h1>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <label for="transactionId" class="col-form-label">Payment Code</label>
                                <input id="transactionId" name="transactionId" class="form-control border"
                                       th:field="${payment.paymentDetail}" readonly>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-7">
                                <label for="studentName" class="col-form-label">Student Name</label>
                                <input id="studentName" readonly class="form-control border"
                                       th:field="${payment.username}">
                            </div>
                            <div class="col-sm-5">
                                <label for="studentId" class="col-form-label">ID Card</label>
                                <input readonly id="studentId" class="form-control border" th:field="${user.cccdNumber}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="frontCccd" class="col-form-label">Front CCCD</label><br>
                                <div class="image-container">
                                    <img id="frontCccd" th:src="${user.frontCccdImage}" alt="Front CCCD">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="backCccd" class="col-form-label">Back CCCD</label><br>
                                <div class="image-container">
                                    <img id="backCccd" th:src="${user.backCccdImage}" alt="Back CCCD">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input id="email" readonly class="form-control border" th:field="${payment.email}"
                                       type="email">
                            </div>
                            <div class="col-sm-6">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input readonly id="phone" class="form-control border" th:field="${payment.phoneNumber}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <label for="totalPrice" class="col-form-label">Total Price</label>
                                <input readonly  id="totalPrice" class="form-control border" th:field="${payment.totalPrice}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="amountPaid" class="col-form-label">Amount Paid</label>
                                <input readonly  id="amountPaid" class="form-control border" th:field="${payment.amountPaid}">
                            </div>
                            <div class="col-sm-6">
                                <label for="paymentDate" class="col-form-label">Payment Date</label>
                                <input readonly id="paymentDate" name="paymentDate" class="form-control border"
                                       th:value="${#temporals.format(payment.paymentDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="refundAmount" class="col-form-label">Refund</label>
                                <input readonly  id="refundAmount" class="form-control border" th:field="${payment.refundAmount}">
                            </div>
                            <div class="col-sm-6">
                                <label for="refundDate" class="col-form-label">Refund Date</label>
                                <input readonly id="refundDate" name="refundDate" class="form-control border"
                                       th:value="${#temporals.format(payment.refundDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label for="paymentMethod" class="col-form-label">Payment Method</label>
                                <input readonly id="paymentMethod" name="paymentMethod" class="form-control border"
                                       th:field="${payment.paymentMethod}">
                            </div>
                            <div class="col-sm-6">
                                <label for="status" class="col-form-label">Payment Status</label>
                                <input readonly id="status" name="paymentMethod" class="form-control border"
                                       th:field="${payment.status}">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="offset-sm-4 col-sm-4 d-grid">
                                <a class="btn secondary-default-btn" onclick="window.history.back()"
                                   role="button">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ! Footer -->
        <footer class="footer">
            <div class="container footer--flex">
                <div class="footer-start">
                    <p>2024 © FPT Dorm - <a href="/fpt-dorm/home" target="_blank"
                                            rel="noopener noreferrer">FPT Dorm</a></p>
                </div>
                <ul class="footer-end">
                    <li><a href="/fpt-dorm/home/about">About</a></li>
                    <li><a href="/fpt-dorm/home/contact">Contact</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
<!-- Chart library -->
<script src="/static/admin_homepage/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="/static/admin_homepage/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/static/admin_homepage/js/script.js"></script>
</body>

</html>