<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <title>Dining</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage_user/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/homepage_user/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="/static/homepage_user/css/style.css" rel="stylesheet">
    <link href="/static/homepage_user/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/homepage_user/css/lightbox.min.css">
    <link href="/static/homepage_user/css/responsive.css" rel="stylesheet">
    <script src="/static/homepage_user/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/instafeed.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/custom.js" type="text/javascript"></script>
</head>
<body>
<div id="page">
    <!---header top---->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="social-grid">
                        <ul class="list-unstyled text-right">
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header--->
    <header class="header-container">
        <div class="container">
            <div class="top-row">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div id="logo">
                            <a th:href="@{/fpt-dorm/home}"><span>FPT</span>Dorm</a>
                        </div>
                    </div>
                    <div class="col-sm-6 visible-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header page-scroll">
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle"
                                        type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                <ul class="list-unstyled nav1 cl-effect-10">
                                    <li><a data-hover="Home" th:href="@{/fpt-dorm/home}"><span>Home</span></a></li>
                                    <li><a data-hover="About" th:href="@{/fpt-dorm/home/about}"><span>About</span></a>
                                    </li>
                                    <li><a data-hover="Rooms" th:href="@{/fpt-dorm/home/room}"><span>Rooms</span></a>
                                    </li>
                                    <li><a data-hover="Gallery" th:href="@{/fpt-dorm/home/gallery}"><span>Gallery</span></a>
                                    </li>
                                    <li><a data-hover="Dining" class="active"><span>Dining</span></a></li>
                                    <li><a data-hover="Contact Us"
                                           th:href="@{/fpt-dorm/home/contact}"><span>Contact Us</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 hidden-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--end-->
    <section class="image-head-wrapper" style="background-image: url('/static/homepage_user/images/banner2.jpg');">
        <div class="inner-wrapper">
            <h1>Dining</h1>
        </div>
    </section>
    <div class="clearfix"></div>

    <!--dining-->
    <section class="blog">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h2 class="blog-title-head">Dining at FPT Dorm</h2>
                    <div class="blog-image-single margin-top-small">
                        <img src="/static/homepage_user/images/dining.jpg" class="img-responsive" alt="Dining Image">
                    </div>
                    <p class="blog-desc">
                        Welcome to the dining services at FPT Dorm! We are committed to providing our residents with a
                        variety of delicious and nutritious meals that cater to different tastes and dietary needs. Our
                        dining facilities are designed to offer a comfortable and inviting atmosphere where students can
                        enjoy their meals, socialize, and relax.
                    </p>
                    <p class="blog-desc">
                        <strong>Menu Highlights:</strong>
                    <ul>
                        <li>Daily Specials: Enjoy a different special meal each day, crafted by our talented chefs.</li>
                        <li>Vegetarian Options: We offer a wide range of vegetarian dishes to ensure everyone has
                            something delicious to eat.
                        </li>
                        <li>International Cuisine: Sample flavors from around the world with our rotating international
                            menu.
                        </li>
                        <li>Healthy Choices: We provide a variety of healthy meal options to support your wellbeing.
                        </li>
                    </ul>
                    </p>
                    <p class="blog-desc">
                        Our dining hall is open from 7:00 AM to 10:00 PM daily. We also offer meal plans that are
                        flexible and can be customized to fit your schedule and preferences. Whether you need a quick
                        bite between classes or a leisurely dinner with friends, our dining services have you covered.
                    </p>

                    <div class="clearfix"></div>
                    <div class="single-bottom comment-form">
                        <h3>Leave your Comment</h3>
                        <form th:action="@{/fpt-dorm/home/dining/comments}" method="post">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                   required="">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required="">
                            <textarea class="form-control" id="message" name="message" placeholder="Message Here...."
                                      required=""></textarea>
                            <input type="submit" class="submit-btn" value="Send">
                        </form>
                        <h4>All Comments</h4>
                        <div th:each="comment : ${comments}">
                            <p><strong th:text="${comment.name}">Name</strong> (<span
                                    th:text="${comment.email}">Email</span>)</p>
                            <p th:text="${#dates.format(comment.createdAt, 'dd/MM/yyyy HH:mm')}">Created At</p>
                            <p th:text="${comment.message}">Message</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <aside class="col-md-3 col-sm-4 col-xs-12">
                    <div class="blog-list">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>Dining Tips</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>Healthy Eating</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>Recipe Ideas</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>Food Reviews</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>Chef's Corner</a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-list">
                        <h4>Archives</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>February 2021</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>January 2021</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>December 2020</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>November 2020</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"> </i>October 2020</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </aside>
            </div>
        </div>
    </section>

    <!---footer--->
    <footer>
        <div class="container">
            <div class="footer-info col-md-12">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="footer-logo"><span>FPT</span>Dorm</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <address>
                        <p><i class="fa fa-map-marker fa-lg"></i> 123 Main Street, Hanoi, Vietnam</p>
                        <p><i class="fa fa-phone fa-lg"></i> +84 123 456 789</p>
                        <p><i class="fa fa-envelope"></i> <a href="mailto:info@fptdorm.com">info@fptdorm.com</a></p>
                    </address>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="connect-us">
                        <p>Connect with us</p>
                        <ul>
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
