<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <title>FPT Dorm</title>

    <link href="/static/homepage_user/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/homepage_user/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/homepage_user/css/style.css" rel="stylesheet">
    <link href="/static/homepage_user/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/homepage_user/css/lightbox.min.css">
    <link href="/static/homepage_user/css/responsive.css" rel="stylesheet">
    <script src="/static/homepage_user/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/instafeed.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/custom.js" type="text/javascript"></script>
    <style>
        .info-block a {
            color: orange;
        }
    </style>
</head>
<body>
<div id="page">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-block"><i class="fa fa-map"></i><a href="https://daihoc.fpt.edu.vn/">FPT University</a></div>
                </div>
                <div class="col-md-6">
                    <div class="social-grid">
                        <ul class="list-unstyled text-right">
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-container">
        <div class="container">
            <div class="top-row">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div id="logo">
                            <a th:href="@{/fpt-dorm/home}"><span>FPT</span>Dorm</a>
                        </div>
                    </div>
                    <div class="col-sm-6 visible-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header page-scroll">
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                <ul class="list-unstyled nav1 cl-effect-10">
                                    <li><a data-hover="Home" class="active"><span>Home</span></a></li>
                                    <li><a data-hover="About" th:href="@{/fpt-dorm/home/about}"><span>About</span></a></li>
                                    <li><a data-hover="Rooms" th:href="@{/fpt-dorm/home/room}"><span>Rooms</span></a></li>
                                    <li><a data-hover="Gallery" th:href="@{/fpt-dorm/home/gallery}"><span>Gallery</span></a></li>
                                    <li><a data-hover="Dinning" th:href="@{/fpt-dorm/home/dinning}"><span>Dinning</span></a></li>
                                    <li><a data-hover="Contact Us" th:href="@{/fpt-dorm/home/contact}"><span>contact Us</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 hidden-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div id="myCarousel1" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"> <img src="/static/homepage_user/images/banner.png" style="width:100%; height: 500px" alt="First slide">
                <div class="carousel-caption">
                    <h1>FPT Dorm<br> Quality & Experience</h1>
                </div>
            </div>
            <div class="item"> <img src="/static/homepage_user/images/banner2.png" style="width:100%; height: 500px" alt="Second slide">
                <div class="carousel-caption">
                    <h1>FPT Dorm<br> Quality & Experience</h1>
                </div>
            </div>
            <div class="item"> <img src="/static/homepage_user/images/banner3.png" style="width:100%; height: 500px" alt="Third slide">
                <div class="carousel-caption">
                    <h1>FPT Dorm<br> Quality & Experience</h1>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="/static/homepage_user/images/icons/left-arrow.png" onmouseover="this.src = '/static/homepage_user/images/icons/left-arrow-hover.png'" onmouseout="this.src = '/static/homepage_user/images/icons/left-arrow.png'" alt="left"></a>
        <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="/static/homepage_user/images/icons/right-arrow.png" onmouseover="this.src = '/static/homepage_user/images/icons/right-arrow-hover.png'" onmouseout="this.src = '/static/homepage_user/images/icons/right-arrow.png'" alt="left"></a>

    </div>
    <div class="clearfix"></div>

    <section class="service-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                    <div class="service-details text-center">
                        <div class="service-image">
                            <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/wifi.png">
                        </div>
                        <h4><a>free wifi</a></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                    <div class="service-details text-center">
                        <div class="service-image">
                            <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/key.png">
                        </div>
                        <h4><a>room service</a></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                    <div class="service-details text-center">
                        <div class="service-image">
                            <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/car.png">
                        </div>
                        <h4><a>free parking</a></h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                    <div class="service-details text-center">
                        <div class="service-image">
                            <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/user.png">
                        </div>
                        <h4><a>customer support</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--gallery block--->
    <section class="gallery-block gallery-front">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="gallery-image">
                        <img class="img-responsive" src="/static/homepage_user/images/room1.png">
                        <div class="overlay">
                            <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room1.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <p><a>gym room</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="gallery-image">
                        <img class="img-responsive" src="/static/homepage_user/images/room2.png">
                        <div class="overlay">
                            <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room2.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <p><a>room for 4 people</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="gallery-image">
                        <img class="img-responsive" src="/static/homepage_user/images/room3.png">
                        <div class="overlay">
                            <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room3.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <p><a>common room</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="gallery-image">
                        <img class="img-responsive" src="/static/homepage_user/images/room4.png">
                        <div class="overlay">
                            <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room4.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <p><a>Room for 6 people</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--offer block-->
    <section class="vacation-offer-block">
        <div class="vacation-offer-bgbanner">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="vacation-offer-details">
                            <h1>YOUR DORM EXPLORATION BEGINS NOW</h1>
                            <h4>Embark on a memorable journey with us. Whether it's
                                studying, socializing, or simply relaxing, our dormitories
                                provide the perfect setting for your university experience.
                                Secure your spot today and let the adventure begin!</h4>
                            <button type="button" class="btn btn-default">Choose a package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End-->

    <!----resort-overview--->
    <section class="resort-overview-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a><img src="/static/homepage_user/images/category1.png" class="img-responsive" alt="image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a>luxurious design</a></h3>
                            <p>Our luxurious dormitory boasts a meticulously crafted design, showcasing
                                elegance and sophistication with sleek furnishings and tasteful decor,
                                providing a world of refinement and indulgence.</p>
                            <div class="links"><a href="https://xuanhoa.net.vn/project/1235/giuong-tang-sat-ky-tuc-xa-fpt.html">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-thumb">
                            <div class="image">
                                <a><img alt="image" class="img-responsive" src="/static/homepage_user/images/category2.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="side-B">
                        <div class="product-desc-side">
                            <h3><a>exquisite dining</a></h3>
                            <p>Our dormitory offers a variety of delicious and nutritious meals,
                                prepared with fresh ingredients and care, providing a delightful
                                dining experience for all.</p>
                            <div class="links"><a href="https://www.saostar.vn/sao-hoc-duong/ngo-nghieng-nhung-dich-vu-doi-song-sinh-vien-cac-campus-dai-hoc-fpt-202104160902120935.html">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a>vibrant community and comfortable living spaces</a></h3>
                            <p>Our dormitory offers a vibrant community
                                atmosphere, featuring shared spaces for socializing, studying, and relaxation,
                                blending comfort and community for a fulfilling stay.</p>
                            <div class="links"><a href="https://daihoc.fpt.edu.vn/tham-quan-ky-tuc-xa-khien-gioi-sinh-vien-choang-ngop-va-ao-uoc-vi-qua-hien-dai-tien-nghi/">Read more</a></div>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb">
                            <div class="image txt-rgt">
                                <a class="arrow-left"><img src="/static/homepage_user/images/category3.png" class="img-responsive" alt="imaga"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                    <div class="side-A">
                        <div class="product-desc-side">
                            <h3><a>tranquil and picturesque campus</a></h3>
                            <p>Our dormitory's campus offers a serene environment with
                                lush greenery, gardens, and pathways, perfect for relaxation,
                                study, and outdoor activities, enhancing your stay with beauty and tranquility.</p>
                            <div class="links"><a href="https://daihoc.fpt.edu.vn/khuon-vien-truong-hoc-nhu-resort-cua-dai-hoc-fpt-ha-noi/">Read more</a></div>
                        </div>
                    </div>

                    <div class="side-B">
                        <div class="product-thumb txt-rgt">
                            <div class="image">
                                <a class="arrow-left"><img src="/static/homepage_user/images/category4.png" class="img-responsive" alt="imaga"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </section>

    <!---footer--->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
                    <div class="footer-details">
                        <h4>Get in touch</h4>
                        <ul class="list-unstyled footer-contact-list">
                            <li>
                                <i class="fa fa-map-marker fa-lg"></i>
                                <p>Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, Thạch Thất, TP. HN</p>
                            </li>
                            <li>
                                <i class="fa fa-phone fa-lg"></i>
                                <p><a href="tel:+842473001866"> (024) 7300.1866 / (024) 7300.5588</a></p>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o fa-lg"></i>
                                <p><a href="mailto:daihocfpt@fpt.edu.vn"> daihocfpt@fpt.edu.vn</a></p>
                            </li>
                        </ul>
                        <div class="footer-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                        <div class="input-group" id="subscribe">
                            <input type="text" class="form-control subscribe-box" value="" name="subscribe" placeholder="EMAIL ID">
                            <span class="input-group-btn">
                                        <button type="button" class="btn subscribe-button"><i class="fa fa-paper-plane fa-lg"></i></button>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                    <div class="footer-details">
                        <h4>explore</h4>
                        <ul class="list-unstyled footer-links">
                            <li class="active"><a>Home</a></li>
                            <li><a th:href="@{/fpt-dorm/home/about}">About</a></li>
                            <li><a th:href="@{/fpt-dorm/home/room}">Rooms</a></li>
                            <li><a th:href="@{/fpt-dorm/home/gallery}">Gallery</a></li>
                            <li><a th:href="@{/fpt-dorm/home/dinning}">Dinning</a></li>
                            <li> <a th:href="@{/fpt-dorm/home/contact}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-details">
                        <h4>Now On Instagram</h4>
                        <div class="row">
                            <div class="instagram-images">
                                <div id="instafeed"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                &copy; 2024 All right reserved. Designed by <a href="http://localhost:8080/fpt-dorm/home" target="_blank">SWP391</a>
            </div>

        </div>
    </footer>

    <!--back to top--->
    <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
        <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
        <span>Top</span>
    </a>

</div>
</body>
</html>
